<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ralba.infocarapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".views.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="InfoCar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfoCarApp">
        <activity
            android:name=".views.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.InfoCarApp.NoActionBar"></activity>
        <activity
            android:name=".views.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.InfoCarApp.NoActionBar" />
        <activity
            android:name=".views.FormActivity"
            android:label="@string/title_activity_form"
            android:theme="@style/Theme.InfoCarApp.NoActionBar" />
        <activity
            android:name=".views.LogoActivity"
            android:label="InfoCar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.InfoCarApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ListActivity"
            android:label="InfoCar"
            android:theme="@style/Theme.InfoCarApp.NoActionBar" />
    </application>

</manifest>